In [27]:
#import pandas lib for all DB related actions and refer pandas as pd
import pandas as pd

In [28]:
#rusing panda ref read the input file and save all data in dataset variable
dataset=pd.read_csv("Salary_Data.csv")

In [29]:
#check if data is loaded correctly
dataset

    Experience  Salary
0            1   10000
1            2   15000
2            3   30000
3            4   25000
4            5   12000
5            6   45000
6            7   48000
7            8   45000
8            9   52000
9           10   55000
10          11   62000
11          12   68000
12          13   68000
13          14   75000
14          15   82000
15          16   90000
16          17   95000
17          18  100000
18          19  120000
19          20  140000

In [30]:
#assign the input value experience as the independent variable
independent=dataset[["Experience"]]
independent

    Experience
0            1
1            2
2            3
3            4
4            5
5            6
6            7
7            8
8            9
9           10
10          11
11          12
12          13
13          14
14          15
15          16
16          17
17          18
18          19
19          20

In [31]:
#assign the predictable value salary as the dependent variable 
dependent=dataset[["Salary"]]
dependent

    Salary
0    10000
1    15000
2    30000
3    25000
4    12000
5    45000
6    48000
7    45000
8    52000
9    55000
10   62000
11   68000
12   68000
13   75000
14   82000
15   90000
16   95000
17  100000
18  120000
19  140000

In [34]:
#from the ML lib sklearn model selection import the lib to split the training and test dataset
from sklearn.model_selection import train_test_split
#split the training and test set in the ratio of 70:30
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)
#it will split to 4 variables training set input/output and test set input/ouput
x_train,x_test,y_train,y_test

(    Experience
 6            7
 13          14
 4            5
 2            3
 5            6
 14          15
 9           10
 7            8
 16          17
 11          12
 3            4
 0            1
 15          16
 12          13,
     Experience
 18          19
 1            2
 19          20
 8            9
 10          11
 17          18,
     Salary
 6    48000
 13   75000
 4    12000
 2    30000
 5    45000
 14   82000
 9    55000
 7    45000
 16   95000
 11   68000
 3    25000
 0    10000
 15   90000
 12   68000,
     Salary
 18  120000
 1    15000
 19  140000
 8    52000
 10   62000
 17  100000)

In [36]:
#from sklearn linear model import the functionto LinearRegression
from sklearn.linear_model import LinearRegression
#regressor will hold all the functions of LinearRegression class
regressor=LinearRegression()
#Call the fit method and pass the training set to train the model
regressor.fit(x_train,y_train)

LinearRegression()

In [38]:
#regressor calls the coef to find the slope (m) which will have the ratio in which the prediction will rise
slope=regressor.coef_
slope

array([[5129.62588473]])

In [39]:
#regressor calls the intercept which will give the base/origin value (c)
bais=regressor.intercept_
bais

array([5429.92922144])

In [40]:
#test the model by calling predict function and pass the test dataset
y_pred=regressor.predict(x_test)

In [42]:
#from sklearn metrics lib import the r2_score function
from sklearn.metrics import r2_score
#evaluate the model performance by comparing the expected and actual result
r_score=r2_score(y_test,y_pred)
#r_score is close to 1, then performace is good. If close to 0, then bad model
r_score

0.8790346360567385

In [45]:
#import pickle lib
import pickle
#save the created model with filename. File has to be in the same location where model is created
fileName="final_model.sav"
#open the file and write binary from regressor
pickle.dump(regressor,open(fileName,'wb'))

In [44]:
#load the saved model by opening the file and read binary
load_model=pickle.load(open(fileName,'rb'))
#pass any input value to test the model
result=load_model.predict([[19]])
result

C:\Users\ravisind\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[102892.82103134]])